<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <%= link_to 'Auto家計簿', root_path, class: 'logo-btn' %>
    </div>
  </div>
  <div class="header-right">
    <% if request.path == "/years/#{@year}/months/#{@month}/spends" %>
      <% if @month == 1 %>
        <%= link_to '<', year_month_spends_path(@year-1, 12), class: 'to-last-month' %>
      <% else %>
        <%= link_to '<', year_month_spends_path(@year, @month-1), class: 'to-last-month' %>
      <% end %>
      <% if @month == 12 %>
        <%= link_to '>', year_month_spends_path(@year+1, 1), class: 'to-next-month' %>
      <% else %>
        <%= link_to '>', year_month_spends_path(@year, @month+1), class: 'to-next-month' %>
      <% end %>
    <% elsif request.path == "/years/#{@year}/months/#{@month}/categories" %>
      <% if @month == 1 %>
        <%= link_to '<', year_month_categories_path(@year-1, 12), class: 'to-last-month' %>
      <% else %>
        <%= link_to '<', year_month_categories_path(@year, @month-1), class: 'to-last-month' %>
      <% end %>
      <% if @month == 12 %>
        <%= link_to '>', year_month_categories_path(@year+1, 1), class: 'to-next-month' %>
      <% else %>
        <%= link_to '>', year_month_categories_path(@year, @month+1), class: 'to-next-month' %>
      <% end %>
    <% elsif request.path == "/years/#{@year}/months/#{@month}/categories/#{params[:id]}" %>
      <% if @month == 1 %>
        <%= link_to '<', year_month_category_path(@year-1, 12, params[:id]), class: 'to-last-month' %>
      <% else %>
        <%= link_to '<', year_month_category_path(@year, @month-1, params[:id]), class: 'to-last-month' %>
      <% end %>
      <% if @month == 12 %>
        <%= link_to '>', year_month_category_path(@year+1, 1, params[:id]), class: 'to-next-month' %>
      <% else %>
        <%= link_to '>', year_month_category_path(@year, @month+1, params[:id]), class: 'to-next-month' %>
      <% end %>
    <% end %>
    <div class="header-month">
      <div class="display-year" id="display-year"><%= @year %></div>
      <p class="nen">年</p>
      <div class="display-month" id="display-month"><%= @month %></div>
      <p class="gatu">月</p>
    </div>
    <% if request.path == "/years/#{@year}/months/#{@month}/spends" %>
      <%= link_to '今月', year_month_spends_path(Time.now.year, Time.now.month), class: 'to-this-month' %>
    <% elsif request.path == "/years/#{@year}/months/#{@month}/categories" %>
      <%= link_to '今月', year_month_categories_path(Time.now.year, Time.now.month), class: 'to-this-month' %>
    <% elsif request.path == "/years/#{@year}/months/#{@month}/categories/#{params[:id]}" %>
      <%= link_to '今月', year_month_category_path(Time.now.year, Time.now.month, params[:id]), class: 'to-this-month' %>
    <% end %>
  </div>
</div>